.card {
  border-radius: 12px;
  // box-shadow:  4px 3px 43px 4px #f7f7f7;
  height: 475px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #737CEB !important;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}