/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #737CEB,
  "dark": #484955,
  "green": #85C685,
  "red": #EB7373,
  "light": #F6F9FA,
  "secondary": #dadada
);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html, body { height: 100%;}
body { margin: 0; font-family: 'Poppins', sans-serif; }
button:focus {outline: none !important;}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.089);
}

::-webkit-scrollbar-thumb {
  background-color: #444a56a8;
  border-radius: 10px;
}

.mat-drawer-side {
  border: none;
}

.mat-form-field-wrapper {
 padding: 0 !important;
}

.mat-form-field-infix {
  border: none !important;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}