.footer {
    color: white;
    .links {
        ul {
            list-style-type: none;
        }
        li a {
            transition: color .2s;
            &:hover {
                text-decoration: none;
                color: #737ceb;
            }
        }
    }
    .about-company {
        i {
            font-size: 25px;
        }
        a {
            transition: color .2s;
            &:hover {
                color: #737ceb
            }
        }
    }
    .location {
        i {
            font-size: 18px;
        }
    }
    .copyright p {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }
}