.iu-icon {
  margin-top: -10px !important;
} 

.navbr {
  z-index: 999;
  transition: all 0.5s !important;
}

.content {
  padding-top: 100px;
}

.start {
  transition: all 0.2s;

  &:hover {
    color: #737ceb;
    transition: all 0.2s;
    cursor: pointer;
  }
}