.home {
  background: linear-gradient(52deg, #cce1f2, #c6f8e5, #fbf7d5, #f9ded7, #f5cdde, #e2bef1);
  background-size: 1200% 1200%;

  -webkit-animation: home-background-gradient 30s ease infinite;
  -moz-animation: home-background-gradient 30s ease infinite;
  animation: home-background-gradient 30s ease infinite;
}

@-webkit-keyframes home-background-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes home-background-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes home-background-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}